# Visual Studio общи
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build директории и бинарни файлове
Debug/
Release/
x64/
x86/
*.obj
*.pdb
*.exe
*.dll
*.lib
*.exp
*.idb

# Кешове и временни файлове
*.log
*.tlog
*.lastbuildstate
*.tmp

# Системни файлове
Thumbs.db
.DS_Store

# Ако използваш Git Bash или други терминали
*.swp

# Игнориране на файлове от подпапката PasswordManager/
PasswordManager/*.sln
PasswordManager/**/*.vcxproj
PasswordManager/**/*.filters
